<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="/style.css"> <!-- we didnt use ../public because we used public folder as static in Server.js so it will add /public by default -->
</head>
<body>
    <h1>Hello my name is <%= name %></h1>
</body>
</html>